body {
    font-family : sans-serif;
    background-image: url("img/noratop_bkg_980.jpg");
    background-size: cover;
    background-repeat: none;
    color: white;
}

#intro_message {
    font-style: italic;
}

#mygravatar {
    border-radius: 50%;
}
