body {
    background-image: url("img/noratop_bkg_980.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Lato', sans-serif;
}

#shortmessage {
    font-style: italic;
    font-family: cursive;
}

#mygravatar {
    border-radius: 50%;
}
